h1 {
  font-style: italic;
}

.topRow {
  padding-bottom: 50px;
}

.rightColumn {
  padding-top: 50px;
}

.bottomRow {
  display: block;
  border-top: 10px solid #000000;
  margin: 0 15px;
  padding: 50px;
}

.header {
  border-bottom: 10px solid #000000;
  padding-bottom: 50px;
}

.midReel {
  padding: 50px;
}
