h1 {
  font-style: italic;
}

.topRow {
  padding-bottom: 50px;
}

.rightColumn {
  padding-top: 50px;
}

.bottomRow {
  display: block;
  border-top: 10px solid #ccc;
  margin: 0 15px;
  padding: 50px;
}
